body {
  overflow-x: hidden;
}

.scope-app {
  position: relative;
  min-height: 100vh;
  font-size: 0;
}

.sidebar-container {
  vertical-align: top;
  display: inline-block;
  width: 150px;
  font-size: 16px;
}

.sidebar {
  background-color: #3456cd;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  width: 150px;
}

main {
  display: inline-block;
  box-sizing: border-box;
  width: calc(100vw - 150px);
}

.sidebar, .header, .footer, .content {
  font-size: 14px;
  padding: 16px;
  box-sizing: border-box;
}

.content {
  background-color: #1256cd;
  min-height: calc(100vh - 100px);
  font-size: 18px;
  line-height: 1.4;
}

p {
  padding-bottom: 16px;
}
